*{
    scroll-behavior: smooth ;
}
body{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
   background-image: url(/images/header-bg.jpg);
   background-size: cover;
   padding: 19% 0;
   box-sizing: border-box;
}
.titre{
    color: #fff;
    line-height: 75px;
}
.titre-theme{
    font-size: calc(small + 3.3vw);
}
.bas{
    font-size: calc(15px + 3.3vw);
   
    font-weight: bold;
}
.titre-button{
    width: 30%;
    height: 70px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    background-color: #ffc800;
    color: #fff;
    font-weight: bold;
} 
.titre-button:hover{
    
    background-color:#d9aa00;
}
/* =================navbar============= */
.bg.scrolled{
    background-color: black;
}
.navbar-brand img{
    width: 100px;
    margin-left: 10px;
}

.navbar-nav .nav-item{
    padding-right: 20px;
}
.navbar-nav .nav-item .nav-link {
    color: #fff !important; 
    opacity: 0,3;
}
.navbar-toggler,.navbar-toggler-icon{
    color:#d9aa00 !important;
}
.navbar-nav .nav-item .nav-link:hover {
    color: #d9aa00 !important;
}
.navbar-nav .nav-item .active{
    color: #d9aa00 !important;
    transition: 0.3s color ;
}

/* =================services============= */
.service-image{
    background: #ffc800;
    width: 140px;
    border-radius: 100px;
    padding: 10px 10px;
    
}
/* =================portofolio============= */
.portofolio img{
    width: 230px;
}
.portofolio .image-hover{
    width: 235px;
    height: 174px;
}

.mon-portofolio button{
    border: none;
}
.button-portofolio{
    width: 40%;
    height: 40px;
    border: none;
    background: #ffc800;
}
/*  */
.portofolio-button{
   position: relative;
   display: inline-block; 
}
.portofolio-button img{
    transition: all linear 0.7s;
 }
  .image-hover{
     position: absolute;
     top: 0;
     left: 0;
     opacity: 0;
     
 }
 .portofolio-button:hover .portofolio-image {
     opacity: 0.4;
 }
 
 
 .portofolio-button:hover  .image-hover {
    opacity: 0.7;
}
/* <-- ======================about=================== -- --> */

/* =========== environ==================================*/

.environ-image{
    
        border: 8px solid rgba(128, 128, 128, 0.26);
        width: 250px;
        border-radius: 50%;      
}
.para-environ img{
    width: 36px;
    margin: 0 10px;
}
.environ-2{
    background: #fff !important;
    padding: 0 30px;
   
}
.environ-image-1{
    width: 250px;    
}
.environ-image-2{
    width: 180px;    
}
.environ-image-3{
    width: 250px;    
}
.environ-image-4{
    width: 140px;    
}
/* ================contact=============== */
#contact{
    background-color:#212529;
    background-image:url("/images/");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}
.contact{
    color: #fff;
}
.conform{
    width: 90%;
     
}
.form-control{
    height: 60px;
}
.texta{
    width: 90%;
    height: 258px;
}
/* =============footer==================== */
.para-footer img{
    width: 30px;
    margin: 0 10px;
}
