*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
}
.section{
    width: 580px;
    height: 870px;
    margin: auto;
    position: relative;
    top: 100px;
    box-shadow: 5px 5px 20px black,-5px 20px gray;
}
.section .section1{
    background-color: #C04343;
    height: 320px;
}
.section .section1 img{
    position: absolute;
    height: 320px;
    top: 0px;
    right: 0px;
}
.section .section1{
    color: white;
    padding: 40px 0px 40px;
    font-family: sans-serif;
    z-index: 1000 !important;
}
span{
    color: black;
}
.section .section1 p{
    padding: 5px 45px 0PX 40px;
    color: white;
    font-family: sans-serif;
    font-size: 10px;
}
.btn1{
    padding: 0px 0px 0px 40px;
}
.btn1, .btn2, .btn3{
	width: 130px;
	height:40px;
	margin-top: 25px;
	font-weight: bold;
	color: white;
	background: #502121;
	border: none;
}
.section .section2{
    background-color: white;
    height: 550px;
}

.section .section2 h4{
	padding: 40px 0px 0px 40px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold !important;
}
.section2 input{
		margin: 0px 0px 0px 40px;
		width: 500px;
		height: 40px;
	font-family: 'Poppins', sans-serif;

}
.section2 label{
	margin: 0px 0px 0px 40px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold !important;

}